.background {
  background-image: url(../img/mokujiimage.jpg);
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  object-fit: scale-down;
}

.character-box {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 54px;
  position: relative;
}

.character-image {
  width: auto;
  height: 85vh;
  text-align: center;
}
.voice {
  position: absolute;
  bottom: 25%;
  right: 10%;
  width: 24em;
  height: 4em;
  padding: 1em;
  color: white;
  overflow: scroll;
  margin-top: 50vh;
  background: rgba(0, 0, 0, .8);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.voice::-webkit-scrollbar{
  display: none;
}

/* column styles */
.column {
  width: 100%;
  margin: 2em auto;
}
.column h2 {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.column h2::before,
.column h2::after {
  border: 1px #333 solid;
  height: 1px;
  width: 2em;
  content: "";
}
.column-text {
  font-size: 14px;
  margin-left: 1em;
}
.dr-options {
  width: 360px;
  height: auto;
}
.column .small {
  font-size: 12px;
}
.column a {
  color: black;
}

/* Ethan link styles */
.ethan {
  text-align: center;
}
.ethan-button {
  padding: 12px 24px;
  background: #a9ceec;
  text-align: center;
  width: 6em;
  border-radius: 5px;
  margin: 1em auto;
}
.ethan-link {
  display: inline-block;
  width: 6em;
  height: 2em;
  align-items: center;
}

.ethan-link:hover {
  transition: .4s;
  color: #333;
}
.english-name {
  font-size: 6px;
}

/* back nav list styles */
.back-nav-list {
  display: flex;
}
.back-nav-list a {
  height: 1em;
}
.backmainmokuji {
  font-size: 18px;
  display: block;
  color: #efefef;
  background: #333;
  width: 1em;
  padding: .45em 5em .45em .3em;
  margin: 0 0 10px 10px;
}
.backhome {
  background: #333;
  width: 120px;
  text-align: center;
  border-left: black solid 1px;
}
.back-icon-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
/* back nav list styles end */

@media screen and (max-width: 810px) {
  .voice {
    width: 90%;
    left: 15%;
    font-size: 12px;
  }
}
@media screen and (max-width: 615px) {
  .background, .column {
    width: 95%;
  }
}
@media screen and (max-width: 1022px) {
  .flex {
    justify-content: center;
    flex-wrap: wrap;
  }
  .dr-options {
    margin-bottom: 1em;
  }
  .column-text {
    margin-left: none;
  }
}
@media screen and (max-width: 482px) {
  .dr-options {
    width: 300px;
  }
}