html {
  scroll-behavior: smooth;
}
main {
  margin-top: 72px;
  padding-bottom: 1em;
}
.mokuji-title {
  font-size: 24px;
  color: white;
  background: black;
  padding: 24px;
  text-align: center;
}
.mokuji-subtitle {
  text-align: center;
  margin: 12px;
}

/* mokuji banner styles */
/* prologue ep */
.prologue-ep-container{
  margin-top: 24px;
  margin-bottom: 12px;
}
.prologue-ep-banner {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background: black;
  padding: 12px 0;
}
/* main ep  */
.banners {
  display: grid;
  gap: 1em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 180px);
}
.banners a {
  width: 180px;
}
.chapter-title {
  color: white;
  background: black;
  padding: .3em;
  margin: 1.5em 0 1em 0;
  text-align: center;
}
.ep-banner {
  width: 180px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
/* mokuji banner styles end */

/* banner animations */
.animation {
  transition: transform .3s ease;
}
.animation:hover {
  transform: scale(1.1);
}
/* banner animations end */

@media screen and (max-width: 706px) {
  .banners {
    grid-template-columns: repeat(auto-fit, 120px);
  }
  .ep-banner, .banners a {
    width:  120px;
  }
}